body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #2d364c;
}

#file-list {
  margin-top: 20px;
}

#file-list button {
  display: block;
  margin: 5px 0;
}

#viewer {
  margin-top: 20px;
}

#viewer img {
  max-width: 100%;
  display: block;
  margin: 10px 0;
}
